@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,900&display=swap');
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;
}

#header{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0%;
    background: linear-gradient(rgba(0,0,0,0), #d2beb5);
    z-index: 2;
    /* height: 50px; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f16f2f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 100px;
    margin-bottom: 110px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-img{
    width: 270px;
    height: 300px;
    background-color:rgb(218, 218, 198);
    border-radius: 50%;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text span{
    color: #f16f2f;
}

/* ---------------about--------------- */
#about{
    padding: 10px 0;
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
}

.about-img{
    width: 230px;
    height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
}

.about-col-2{
    flex-basis: 60%;
    padding: 0px;
    /* transition: cubic-bezier(0.215, 0.610, 0.355, 1); */
    margin: -40px -50px;
}

.sub-title{
    font-size: 46px;
    font-weight: 600px;
    color: #ffffff;
    margin-bottom: 90px;
    text-align: center;
}

.about-col-2 p{
    font-size: 17px;
    text-align: justify;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 46px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f16f2f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    
}

.tab-links:hover::after
{
    width: 100%;
}

.tab-links.active-link::after{
    width: 100%;
}

.main-list{
    text-align: left;
    padding-left: 0px;
}

.experience-list{
    text-align: left;
    padding-left: 0px;
    margin-left: -20px;
}

.education-list{
    text-align: left;
    padding-left: 0px;
    margin-left: -20px;
}

.tab-contents ul{
    text-align: left;
    padding-left: 20px;
}

.tab-contents ul li{
    margin: 10px 0px;
}

.tab-contents ul li span{
    color: #f16f2f;
}

.tab-contents div span{
    color: #f16f2f;
    font-size: 17px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ---------------projects--------------- */

#projects{
    padding: 10px 0;
}

h1.sub_title{
    font-size: 46px;
    font-weight: 600px;
    color: #ffffff;
    text-align: center;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div{
    background: #262626;
    padding: 40px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list p{
    margin-top: 15px;
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 10%;
}

.projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover{
    background-color: #f16f2f;
    transform: translateX(-10px);
}

/* ---------------resume--------------- */

.resume-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px;
    margin-bottom: 12px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 520px;
    width: 420px;
    align-items: center;
    align-content: center;
}
.work img{
    width: 100%;
    position: absolute;
    display: block;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    top: 10px;
}
.layer{
    width: 100%;
    height: 550px;
    background: linear-gradient(rgba(0,0,0,0), #f16f2f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}

/* ---------------contact--------------- */

#contact{
    padding: 10px 0;
}
.row{
    margin-top: 50px;
}
h1.sub-title1{
    font-size: 46px;
    font-weight: 600px;
    color: #ffffff;
    text-align: center;
    margin-left: -15px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #f16f2f;
    margin-right: 15px;
    font-size: 25px;
    transition: transform 0.5s;
}
.contact-left p i:hover{
    color: #c5c5c5;
    transform: translateY(-5px);
}
.contact-left h1{
    text-align: left;
    padding: 15px 0px 15px;
}
.social-media{
    margin-top: 30px;
}
.social-media a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #c5c5c5;
    display: inline-block;
    transition: transform 0.5s;
}
.social-media a:hover{
    color: #f16f2f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #f16f2f;
    font-size: 30px;
    margin-top: 30px;
    margin-left: -2px;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.5s;
    color: white;
}
.btn.btn2:hover{
    background-color: white;
    transform: translateY(-5px);
    color: #262626;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact-left .btn2{
    cursor: pointer;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

/* ---------------copyright--------------- */

.copyright{
    width: 100%;
    text-align: center;
    padding: 0.5px 0px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: red;
}

/* ---------------CSS for small screen--------------- */
@media only screen  and (max-width: 800px){
    #header{
        position: relative;
    }
    .logo{
        width: 100px;
    }
    
    #main-heading{
        padding-bottom: 110px;
    }

    .main-img{
        height: 200px;
        margin-left: 60px;
    }
    .header-text{
        margin-top: 130px;
        font-size: 20px;
    }
    .header-text h1{
        margin-top: 20px;
        font-size: 40px;
    }
    
    #about{
        padding-bottom: 110px;
    }

    #about h1{
        margin-bottom: 0px;
        padding-left: 100px;
        align-items: center;
        justify-content: center;
    }
    
    .about-img{
        margin-left: 95px;
        width: 150px;
        height: 150px;
    }

    .about-col-2{
        margin-left: 15px;
        margin-top: 40px;
    }
    .about-col-1{
        flex-basis: 30%;
    }

    #projects{
        padding-bottom: 110px;
    }

    #projects h1{
        padding-left: 109px;
    }

    .projects-list{
        margin-left: 80px;
        grid-template-columns: none;
    }

    #resume{
        padding-bottom: 110px;
    }
    
    .work{
        margin-top: 50px;
        margin-left: 50px;
    }
    .work img{
        width: 91%;
        height: 100%;
        top: 0px;
    }
    .layer{
        width: 91%;
        height: 100%;
        top: 0px;
    }

    .sub-title1{
        margin-bottom: 0px;
    }

    #contact{
        padding-bottom: 110px;
    }

    .sub-title1{
        padding-left: 110px;
        text-align: center;
    }

    .contact-left{
        position: relative;
        bottom: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #635f5d; */
        flex-direction: column;
    }

    .contact-left h1{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .contact-left p{
        font-size: 25px;
    }

    .personal{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-left: 20px;
        width: 400px;
    }

    .social-media{
        display: flex;
        flex-direction: column;
    }

    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info{
        width: 400px;
        height: 15px;
    }

    .contact-right form{
        width: 350px;
    }

    .contact-right .btn.btn2{
        width: 100%;
        font-size: 18px;
    }

    .copyright{
        width: 470px;
    }
}