@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}

#header{
    width: 100vw;
    height: 100vh;
    background-image: url(Shri\ Krishna\ Image.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 0% 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f16f2f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 130px;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text span{
    color: #f16f2f;
}

/* ---------------about--------------- */
#about{
    padding: 120px 0;
    color: rgb(255, 255, 255);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 30%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin: -50px 80px;
}

.about-col-2{
    flex-basis: 60%;
    padding: 0px;
    /* transition: cubic-bezier(0.215, 0.610, 0.355, 1); */
    margin: -40px -50px;
}

.sub-title{
    font-size: 46px;
    font-weight: 600px;
    color: #ffffff;
    padding: 0px 0px 80px;
    text-align: center;
}

.about-col-2 p{
    font-size: 17px;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 46px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f16f2f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    
}

.tab-links:hover::after
{
    width: 100%;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0px;
}
.tab-contents ul li span{
    color: #f16f2f;
    font-size: 17px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ---------------projects--------------- */

#projects{
    padding: 50px 0;
}

h1.sub_title{
    font-size: 46px;
    font-weight: 600px;
    color: #ffffff;
    text-align: center;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div{
    background: #262626;
    padding: 40px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list p{
    margin-top: 15px;
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 10%;
}

.projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover{
    background-color: #f16f2f;
    transform: translateX(-10px);
}

/* ---------------resume--------------- */

#resume{
    padding: 50px 0;
}
.work_list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    align-items: center;
    align-content: center;
}
.work_list h2{
    font-size: 50px;
    margin-bottom: 241px;
    margin-left: 80px;
}
.work_list h2 p{
    font-size: 20px;
    margin-top: 80px;
    color: #f16f2f;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 550px;
    width: 550px;
    align-items: center;
    align-content: center;
}
.work img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #f16f2f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}

/* ---------------contact--------------- */

#contact{
    padding: 50px 0;
}
.row{
    margin-top: 50px;
}
h1.sub-title1{
    font-size: 46px;
    font-weight: 600px;
    color: #ffffff;
    text-align: center;
    margin-left: -15px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #f16f2f;
    margin-right: 15px;
    font-size: 25px;
    transition: transform 0.5s;
}
.contact-left p i:hover{
    color: #c5c5c5;
    transform: translateY(-5px);
}
.contact-left h1{
    text-align: left;
    padding: 15px 0px 15px;
}
.social-media{
    margin-top: 30px;
}
.social-media a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #c5c5c5;
    display: inline-block;
    transition: transform 0.5s;
}
.social-media a:hover{
    color: #f16f2f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #f16f2f;
    font-size: 30px;
    margin-top: 30px;
    margin-left: -2px;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.5s;
}
.btn.btn2:hover{
    background-color: #c5c5c5;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact-left .btn2{
    cursor: pointer;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

/* ---------------copyright--------------- */

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: red;
}

/* ---------------CSS for small screen--------------- */
@media only screen  and (max-width: 600px){
    #header{
        background-image: url();
    }
}